.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {

  position: fixed;
  background: white;
  width: 680px;
  height: 330px;
  top: 51.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-button {
  position: relative;
  float: right;
  right: 5px;
}

.entry-container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 20px;
  align-items: flex-start;
}

/* .entry-container div label input {
  margin: 0px 20px 0px 20px;
  padding: 0px 20px 0px 20px;
} */

.appointment-title {
  margin-bottom: 10px;
}

.appointment-title label {
  margin-left: 40px;
  margin-right: 60px
}

.appointment-title input {
  width: 450px;
  height: 25px
}

.dates-and-times {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: start;
  margin-bottom: 10px;
}

.dates-and-times div {
  margin-bottom: 10px;
}

.dates-and-times label {
  margin-left: 40px;
  margin-right: 18px
}

.dates-and-times input {
  width: 140px;
  height: 25px
}

.appointment-extras {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-bottom: 10px;
}

.appointment-extras div {
  margin-bottom: 10px;
}

.appointment-extras label {
  margin-left: 40px;
  width: 450px;
  margin-right: 60px
}

.appointment-extras input {
   width: 450px;
  height: 25px
}

.submit-button {
  margin-top: 30px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
