.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {

  position: fixed;
  background: white;
  width: 680px;
  height: 330px;
  top: 51.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-button {
  position: relative;
  float: right;
  right: 5px;
  top: 2px;
  padding: 2px;
}

.close-button:hover {
  color: red;
}

.entry-container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 30px;
  align-items: flex-start;
}

.appointment-title {
  margin-bottom: 10px;
  display: flex;
}

.appointment-title label {
  display: block;
  margin-left: 40px;
  width: 120px;
  text-align: left;
}

.appointment-title input {
  width: 400px;
  height: 25px
}

.dates {
  display: flex;
  flex-direction: row;
}

.start-date {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.start-date label {
  display: block;
  margin-left: 40px;
  width: 120px;
  text-align: left;
}

.start-date input {
  width: 140px;
  height: 25px;
}

.end-date {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.end-date label {
  display: block;
  margin-left: 8px;
  padding-left: 10px;
  width: 100px;
  text-align: left;
}

.end-date input {
  width: 140px;
  height: 25px;
}

.times {
  display: flex;
  flex-direction: row;
}

.start-time {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.start-time label {
  display: block;
  margin-left: 40px;
  width: 120px;
  text-align: left;
}

.start-time input {
  width: 140px;
  height: 25px;
}

.end-time {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.end-time label {
  display: block;
  margin-left: 8px;
  padding-left: 10px;
  width: 100px;
  text-align: left;
}

.end-time input {
  width: 140px;
  height: 25px;
}

.appointment-extras {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-bottom: 10px;
}

.appointment-extras div {
  margin-bottom: 10px;
}

.people-input {
  display: flex;
}

.location-input {
  display: flex;
}

.description-input {
  display: flex;
}

.people-input label {
  display: block;
  margin-left: 40px;
  width: 120px;
  text-align: left;
}

.location-input label {
  display: block;
  margin-left: 40px;
  width: 120px;
  text-align: left;
}

.description-input label {
  display: block;
  margin-left: 40px;
  width: 120px;
  text-align: left;
}

.people-input input {
  width: 400px;
  height: 25px
}

.location-input input {
  width: 400px;
  height: 25px
}

.description-input input {
  width: 400px;
  height: 25px
}

.submit-button {
  margin-top: 20px;
}

button {
  width: 120px;
  height: 25px;
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
