.app {
  text-align: center;
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header {
margin-top: 10px;
}

.title {
font-size: 30px;
}

.mainContainer {
 height: 350px;
 width: 700px;
 border: solid black 1px;
 display: flex;
 flex-direction: row;
}
 
.eventsDisplay {
  width: 50%;
  height: 100%;
  border-left: solid black 1px;
 }

@media only screen and (max-width: 400px) {
  .app {
    height: 100vh;
    width: 90vw;
  }
  .mainContainer {
    height: 80vh;
    width: 90vw;
    flex-direction: column;
  }
  .calenderDisplay {
    height: 50vh;
    width: inherit;
  }
  .eventsDisplay {
    height: 50vh;
    width:  inherit;
  }
}

.footer {
  margin-bottom: 10px;
}
