.appointmentsDisplayContainer {
    display: flex;
    flex-direction: column;
    background-image: url("https://images.unsplash.com/photo-1533119408463-b0f487583ff6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
    height: 100%;
}

.contain {object-fit: contain;}

.selectedDay {
    margin-top: 20px;
    margin-bottom: 5px;
}

.appointmentsListBox {
    margin-bottom: 10px;
    width: 60%;
    height: 70%;
    align-self: center;
    background: slategray;
    opacity: 0.7;
    border-radius: 5px;
}

.appointmentsList {
    text-align: left;
    margin-top: 5px;
}

.appointment {
    color: white;
    position: relative;
    left: 10px;
    margin-bottom: 2px;
}