.calenderDisplayContainer {
  width: 50%;
  height: 100%;
}

.currentYear {
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.monthsDisplay {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 10px;
  font-size: 20px;
}

.daysOfWeekDisplay {
  margin-left: 40px;
  margin-right: 40px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 45px);
}

.dayOfWeek {
  font-size: 14px;
}

.day {
  font-size: 14px;
  height: 30px;
  width: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  justify-self: center;
}

.prevButton {
  width: 30px;
  height: 30px;
  transform: translate(5px, -200px);
}

.nextButton {
  width: 30px;
  height: 30px;
  transform: translate(310px, -232px);
}

.today {
  color: blue;
}

.selected {
  color: red !important;
}

.apart {
  color: orange;
}

@media only screen and (max-width: 400px) {
  .calenderDisplayContainer {
    height: 50vh;
    width: inherit;
  }

  .calenderDisplay {
    height: 50vh;
    width: inherit;
  }

  .daysOfWeekDisplay {
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 35px);
  }

  .nextButton {
    transform: translate(306px, -172px);
    width: 20px;
    height: 20px;
  }

  .prevButton {
    transform: translate(5px, -150px);
    width: 20px;
    height: 20px;
  }

  .eventsDisplay {
    height: 50vh;
    width: inherit;
  }
}
